html, body {
  background: #1a1a1a;
  padding:0;
  margin:0;
  font-family: 'Ubuntu Mono', monospace;
}

@media (max-width: 979px) {
  html, body {
  }
}

.navbar {
  border-bottom: 1px solid black;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  margin-bottom: 0;
}

div.header_text {
  text-align: center;
  color: sandybrown;
    vertical-align: middle;
}

div.header_text > h1 {
  font-family: 'Black Ops One', cursive;
}

.navbar-brand {
  color: whitesmoke;
  font-family: 'Black Ops One', cursive;
}

.section-header {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url('../images/home_wallpaper.jpeg');
    height: 80vh;
    text-align: center;
}

.table-container {
    text-align: left;
}

.section-2 {
    padding-top: 20px;
}

.section-3 {
    background: darkslategrey;
}

footer {
    height: 20vh;
    width: 100vw;
    background-color: saddlebrown;
}

.parallax {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.info {
    text-align: center;
}

.shout {
    padding-top: 220px;
}

.btn-get-started {
    margin-top: 25px;
}

.red {
  background-color: #e74c3c;
  box-shadow: 0px 5px 0px 0px #CE3323;
    color: whitesmoke;
}

.red:hover {
  background-color: #FF6656;
}

table.profile-table tr td {
   padding-top: 10px;
}

table.profile-table tr td {
  border-right: 10px solid transparent;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.btn-transparent {
    background: transparent;
    outline: 0;
    border: 0;
}

input {
    color: darkslategrey;
}

select {
    color: darkslategrey;
}

/* tables */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table {
  color: #333;
/*  font-family: sans-serif;
  font-size: .9em;
  font-weight: 300; */
  text-align: left;
  line-height: 40px;
  border-spacing: 0;
  border: 2px solid #FF6656;
  width: 500px;
  margin: 50px auto;
}

thead tr:first-child {
  background: #FF6656;
  color: snow;
  border: none;
}

th.table-head {
    font-size: 1.4em;
}

td {
    color: snow
}

td > a {
    color: snow;
    font-size: 1.2em;
}

td > a:hover {
    color: #FF6656;
}

td > i {
    color: snow;
}

th {font-weight: bold;}
th:first-child, td:first-child {padding: 0 15px 0 20px;}

thead tr:last-child th {border-bottom: 3px solid #FF6656;}

/*tbody tr:hover {background-color: #ffeeff;}*/
tbody tr:last-child td {border: none;}
tbody td {border-bottom: 1px solid #ddd;}

td:last-child {
  text-align: right;
  padding-right: 10px;
}

.button {
  color: #696969;
  padding-right: 5px;
  cursor: pointer;
}

.alterar:hover {
  color: #0a79df;
}

.excluir:hover {
  color: #dc2a2a;
}

/* dashboard */
.short-div {
    height:50px;
}

.dashboard-container {
    border: 1px solid snow
}

.dashboard-container:hover {
    border: 1px solid palevioletred;
}

.header-h1 {
    color: snow;
}
