html, body {
  background: #1a1a1a;
  padding:0;
  margin:0;
  font-family: 'Ubuntu Mono', monospace;
  color: whitesmoke;
}
@media (max-width: 979px) {
  html, body {
  }
}

.navbar {
  border-bottom: 1px solid black;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  margin-bottom: 0;
}

div.header_text {
  text-align: center;
  color: sandybrown;
    vertical-align: middle;
}

div.header_text > h1 {
  font-family: 'Black Ops One', cursive;
}

.navbar-brand {
  color: whitesmoke;
  font-family: 'Black Ops One', cursive;
}

.section-header {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url('../images/home_wallpaper.jpeg');
    height: 80vh;
    text-align: center;
}

.table-container {
    text-align: left;
}

.section-2 {
    padding-top: 20px;
}

.section-3 {
    background: darkslategrey;
}

footer {
    height: 20vh;
    width: 100vw;
    background-color: saddlebrown;
}

.parallax {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.info {
    text-align: center;
}

.shout {
    padding-top: 220px;
}

.btn-get-started {
    margin-top: 25px;
}

.red {
  background-color: #e74c3c;
  box-shadow: 0px 5px 0px 0px #CE3323;
    color: whitesmoke;
}

.red:hover {
  background-color: #FF6656;
}

table.profile-table tr td {
   padding-top: 10px;
}

table.profile-table tr td {
  border-right: 10px solid transparent;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.btn-transparent {
    background: transparent;
    outline: 0;
    border: 0;
}

input {
    color: darkslategrey;
}

select {
    color: darkslategrey;
}

