{% extends "account_base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Login{% endblock %}

{% block header %}
{% endblock %}

{% block menu %}
{% endblock %}

{% block content %}
  <div class="login-wrapper valign-parent">
    <div class="valign-wrapper">
      <form class="form-wrapper card-panel child valign z-depth-5" method="POST" action="{% url 'login' %}">{% csrf_token %}

        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i> {{ form.username }}
            <label for="icon_prefix">Username</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock_outline</i> {{ form.password }}
            <label for="icon_prefix">Password</label>
          </div>
        </div>

        <div class="row">
          <p>
            <input type="checkbox" id="test5" />
            <label for="test5">Remember Me</label>
          </p>

        </div>

        <div class="row">
          <button class="btn waves-light waves-effect col s12" type="submit" value="login">Login</button>
          <input type="hidden" name="next" value="{{ next }}" />
        </div>
      </form>
    </div>
  </div>
{% endblock %}
