{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Login{% endblock %}

{% block src %}
<link rel="stylesheet" type="text/css" href="{% static 'css/pages/login.css' %}">
{% endblock %}


{% block content %}

<!--Navigation & Intro-->
<header>

    <!--Mask-->
    <div class="view hm-black-strong">
        <div class="full-bg-img flex-center">
						<!--Form with header-->
						<div class="card">
								<div class="card-block">
										<!--Header-->
										<div class="form-header  purple darken-4">
												<h3><i class="fa fa-lock"></i> Login:</h3>
										</div>

										<!--Body-->
										<form id="login_form" method="POST" action="{% url 'login' %}">{% csrf_token %}

												<div class="md-form">
														<i class="fa fa-envelope prefix"></i>
														{{ form.username|add_class:"validate form-control" }}
														<label for="{{ form.username.id_for_label }}" >Username</label>
												</div>

												<div class="md-form">
														<i class="fa fa-lock prefix"></i>
														{{ form.password|add_class:"validate form-control" }}
														<label for="{{ form.password.id_for_label }}">Password</label>
												</div>

												<div class="text-xs-center">
														<button class="btn btn-deep-purple" type="submit" value="login">Login</button>
														<input type="hidden" name="next" value="{{ next }}" />
												</div>

										</form>

								</div>

								<!--Footer-->
								<div class="modal-footer">
										<div class="options">
											<p>Not a member? <a href="{% url 'register' %}">Sign Up</a></p>
												<!--<p>Forgot <a href="#">Password?</a></p>-->
										</div>
								</div>

						</div>
						<!--/Form with header-->
        </div>
    </div>
    <!--/.Mask-->

</header>
<!--/Navigation & Intro-->

{% endblock %}

