<div class="container">
    <header>
        <h1>Task List</h1>
    </header>
    <table>

        <tr>
            <th class="text-center">Slug</th>
            <th class="text-center">Created By</th>
            <th class="text-center">ID</th>
            <th class="text-center">Task Name</th>
            <th class="text-center">Description</th>
            <th class="text-center">URL</th>
        </tr>

    {% for task in task_list %}
        <tr>
            <td>{{ task.slug }}</td>
            <td>{{ task.created_by }}</td>
            <td>{{ task.id }}</td>
            <td>{{ task.name }}</td>
            <td>{{ task.description }}</td>
            <td><a href="{% url 'task_detail' slug=task.slug %}"><u>Detail</u></a></td>
        </tr>
    {% endfor %}

    </table>
</div>