{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block title %}TaskHive | Add Task{% endblock %}

{% block src %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/authenticated/add_task.css' %}">
{% endblock %}

{% block content %}

    <!--Mask-->
    <div class="view hm-black-strong">
        <div class="full-bg-img flex-center">
						<!--Form with header-->
						<div class="card">
								<div class="card-block">
										<!--Header-->
										<div class="form-header  purple darken-4">
												<h3><i class="fa fa-lock"></i> Login:</h3>
										</div>

										<!--Body-->
										<form id="login_form" method="POST" action="">{% csrf_token %}

												<div class="md-form">
													<i class="fa fa-envelope prefix"></i>
													<label for="name" data-error="wrong">Task Name</label>
													{{ form.name|add_class:"form-control validate" }}
												</div>

												<div class="md-form">
													<i class="material-icons prefix">mode_edit</i>
													<label for="description">Description</label>
													{{ form.description|add_class:"md-textarea validate" }}
												</div>

												<div class="text-xs-center">
														<button class="btn btn-deep-purple" type="submit" value="login">Login</button>
														<input type="hidden" name="next" value="{{ next }}" />
												</div>

										</form>

								</div>

								<!--Footer-->
								<div class="modal-footer">
										<div class="options">
											<p>Not a member? <a href="{% url 'register' %}">Sign Up</a></p>
												<!--<p>Forgot <a href="#">Password?</a></p>-->
										</div>
								</div>

						</div>
						<!--/Form with header-->
        </div>
    </div>
    <!--/.Mask-->

{% endblock %}
