{% extends 'base.html' %}

{% block content %}
    <div class="container">
      <div class="row">
      {% for task in task_list %}
        <div class="col s6 m4 l3">
          <div class="card blue-grey darken-1 hoverable small">
            <div class="card-content white-text">
              <span class="card-title truncate">{{ task.name|title }}</span>
              <p class="">{{ task.description|title }}</p>
            </div>
            <div class="card-action">
              <a href="{% url 'task_detail' slug=task.slug %}">Details</a>
              <a href="{% url 'task_delete' slug=task.slug %}">Delete</a>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
    </div> <!-- Container -->
{% endblock %}