body {
    background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(../images/tidy_camera.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.translucent {
    background-color: rgba(0, 0, 0, 0.85);
}

.particle-container {
    position: absolute;
    top: 0;
    left: 0;
}