{% extends "base.html" %}
{% block title %}Pomodoro | Dashboard{% endblock %}

{% block content %}

<div class="container">
  <header>
    <h1>{{ request.user|title }}'s Dashboard</h1>
  </header>
  <table class="col-md-6">
    <thead>
      <tr>
        <th colspan="3"><b>Task List</b></th>
      </tr>
      <tr>
        <th>No.</th>
        <th colspan="2">Task Name</th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
      <tr>
        <td>{{ task.id }}</td>
        <td><a href="{% url 'task_detail' slug=task.slug %}"><b>{{ task.name }}</b></a></td>
        <td>
          <!-- Add edit button here -->
          <i class="fa fa-pencil button alterar"></i>
          <a class="table-url" href="{% url 'task_delete' slug=task.slug %}"><i class="fa fa-trash button excluir"></i></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
    <!--
    <div id="cal-heatmap"></div>
    <script type="text/javascript">
        var cal = new CalHeatMap();
        cal.init({});
    </script>
    -->

</div>


{% endblock %}