{% extends "base.html" %}
{% load static %}

{% block title %}TaskHive | Home{% endblock %}

{% block content %}
    <section class="section-header parallax">
        <div class="container">
            <table class="table-container">
                <tr>
                    <h1 class="shout">Start being in control of your projects</h1>
                </tr>
                <tr>
                      <a href="{% url 'login' %}" class="btn btn-get-started red"><b>Get Started</b></a>
                </tr>
            </table>
        </div>
    </section>
    <section class="section section-2">
        <div class="container">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <script>
                        toastr.success(message)
                    </script>
                {% endfor %}
            </ul>
            {% endif %}
            <div class="row">
                <div class="col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="productivity info">
                        <h1><b>Tracking</b></h1>
                        <h4>Keep track of your work</h4>
                        <span class="glyphicon glyphicon-time"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="time info">
                        <h1><b>Time</b></h1>
                        <h4>Manage your time better</h4>
                        <span class="glyphicon glyphicon-time"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="control info">
                        <h1><b>Control</b></h1>
                        <h4>Be in control</h4>
                        <span class="glyphicon glyphicon-time"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-3">
        <div class="container">
           <div class="row">
               <blockquote>
                   “All things are created twice; first mentally; then physically.  The key to creativity is to begin with the end in mind, with a vision and a blue print of the desired result.” — Stephen Covey
               </blockquote>
           </div>
        </div>
    </section>
{% endblock %}