{% extends "base.html" %}
{% load avatar_tags %}

{% block title %}Pomdoro | {{ user|title }} | Profile{% endblock %}

{% block content %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <script>
                toastr.success(message)
            </script>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="container">

        <header class="clearfix">
            <h1>Profile <span>Your personal folder</span></h1>
        </header>

        <div class="row" style="padding-top: 20px;">
            <div class="avatar col-lg-offset-2 col-lg-4">
                <a href="{% url 'avatar_change' %}">{% avatar user 205 class="img-circle img-responsive" id="user_avatar" %}</a>
                <a class="btn btn-get-started red" href="{% url 'avatar_change' %}">Edit your profile</a>
            </div>
            <div class="profile-information col-lg-4">
                <table class="table-container profile-table">
                    <tr>
                        <td>Username </td>
                        <td>{{ user }}</td>
                    </tr>
                    <tr>
                        <td>First Name</td>
                        <td>{{ user.first_name|title }}</td>
                    </tr>
                    <tr>
                        <td>Last Name</td>
                        <td>{{ user.last_name|title }}</td>
                    </tr>
                    <tr>
                        <td>Email </td>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <td>Last Login Date</td>
                        <td>{{ user.last_login }}</td>
                    </tr>
                    <tr>
                        <td>Joined Date</td>
                        <td>{{ user.date_joined|date }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
