{% extends "base.html" %}
{% load avatar_tags %}
{% load static %}

{% block title %}Pomdoro | {{ user|title }} | Profile{% endblock %}

{% block src %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/pages/profile.css' %}">
{% endblock %}

{% block content %}

    <!--Mask-->
    <div class="view hm-black-strong">
        <div class="full-bg-img flex-center">
						<div class="card">
								{{ user.username }}
						</div>
        </div>
    </div>
    <!--/.Mask-->

{% endblock %}
